{% extends 'base.html' %}

{% block title %}
Search
{% endblock title %}

{% block body %}
    <h3 class="text-center"><span>Search Product Complaint Details</span></h3>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="/search" method="post">
                    <div class="form-group">
                      <br>
                      <br>
                      <br>
                    <!--label for="brand">Enter Product Brand</label>-->
                        <input type="text" class="form-control" name="Brand" id="brand" placeholder="Enter Product Brand" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger btn-sm btn-block">Search</button>
                </form>
                <br>
                <br>
            </div>
            <div class="col-md-8">
                {% if products_and_complaints %}
                    <br>
                    <br>
                    <br>
                    <h3>Product Details</h3>
                    <hr>
                    <p>Number of results: {{ products_and_complaints|length }}</p>

                    {% for result in products_and_complaints %}
                        
                        <li>Product ID: {{ result[0] }}</li>
                        <li>Type: {{ result[1] }}</li>
                        <li>Details: {{ result[2] }}</li>
                        <li>Brand: {{ result[3] }}</li>
                        <li>Model: {{ result[4] }}</li>
                        <li>Price: {{ result[5] }}</li>
                        <hr>
                        <h3>Complaint Details</h3>
                        <hr>
                        <!--<li>Complaint ID: {{ result[] }}</li>-->
                        <li>Details: {{ result[6] }}</li>
                        <li>Date: {{ result[7] }}</li>
                        <li>Current Status: {{ result[8] }}</li>
                        <hr>
                    {% endfor %}
                {% else %}
                    <!-- Handle case when there are no search results -->
                    <!--<p>No products found with the provided brand name.</p>-->
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
